body {
  width: auto;
  height: auto;
  margin:auto;
  text-align: center;
}

head {
  width: auto;
  height:auto;
}

#featured-property p {
  width: 800px;
  position:relative;
  text-align: center;
  margin:auto;
}

div {
  float: left;
  width: 25%;
  text-align: center;
  background-color:bisque;
} 

figcaption {
  font-size:smaller;
}

a {
  background-color:bisque;
  padding-left:10px;
  padding-right: 10px;
}



