body {
  width: auto;
  height: auto;
  margin:auto;
  text-align: center;
}

head {
  width: auto;
  height:auto;
}

#featured-property p {
  width: 800px;
  padding-left: 325px;
  padding-right: 325px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align:center;

}

div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: coral;
} 

figcaption {
  font-size:smaller;
}

a {
  background-color:red;
  padding-left:10px;
  padding-right: 10px;
}



